
<br>
<br>
<br>
<br>
<div class="row">
  <div class="card">
    <div class="card-body">

      <div class="pagetitle">
        <div class="col-2">
          <h2>CAMPOS
            <a class="btn btn-sm btn-link"><i class="fa-solid "></i></a>
          </h2>
        </div>
        <br/>
      </div>

      <form [formGroup]="formField">
        <div formArrayName="fieldTypes">
            <div class="row"  *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">


              <div class="col-10">
                <div class="row">
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Nombre</label>
                    <div>
                      <input formControlName="name" class="form-control form-control-sm" type="text">
                    </div>
                  </div>
                  
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Tipo de Campo</label>

                    <div>
                        <ng-select  formControlName="fieldTypeFk"
                        [items]="fieldTypes" [selectOnTab]="true" 
                        [addTag]="false" (change)="onSelectType(i)"
                            bindLabel="name" 
                            bindValue="id" >
                        </ng-select>
                    </div>
                  </div>
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Valor por Defecto</label>
                    <div>
                      <input formControlName="defaultValue" class="form-control form-control-sm" type="text">
                    </div>
                  </div>
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Valor Max.</label>
                    <div>
                      <input formControlName="maxValue" class="form-control form-control-sm" type="number">
                    </div>
                  </div>
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Valor Min.</label>
                    <div>
                      <input formControlName="minValue" class="form-control form-control-sm" type="number">
                    </div>
                  </div>
                  <div class="mb-4 col-4 form-group">
                    <label class="form-label">Longitud Max.</label>
                    <div>
                      <input formControlName="maxLength" class="form-control form-control-sm" type="number">
                    </div>
                  </div>
                  <input type="hidden" formControlName="requireOptions"/>
                  <input type="hidden" formControlName="optionsAllowed"/>

                
                  <div class="mb-12 col-12 form-group" *ngIf="rows.at(i).get('requireOptions').value as boolean">
                      <label class="form-label">Opciones</label>
                      <ng-select [items]="fieldOptions"
                      formControlName="fieldOptionsStr"
                      bindLabel="name"
                      bindValue="name"
                      [multiple]="true"
                      [addTag]="true"
                      [maxSelectedItems]="rows.at(i).get('optionsAllowed').value"
                      groupBy="selectedAllGroup"
                      [selectableGroup]="true"
                      (add)="onAddOption(i,$event)"
                      (remove)="onRemoveOption(i,$event)"
                      placeholder="Select Options"
                      (change)="onFieldOptionsGroupChange($event)">
  
                        <ng-template 
                                ng-optgroup-tmp let-item="item" 
                                let-item$="item$" let-index="index">
                                <input  id="item-{{index}}" type="checkbox"
                                [ngModel] ="item$.selected"/> Select All
                                <input type="text">
                        </ng-template>
                      </ng-select>
                  </div>
                  <br/>
                
                </div>
            
              </div>

               <div class="col-2" style="margin-top: 70px;">
                <a (click)="createRow()" style="margin-right: 8px;" class="btn btn-success btn-sm"><i class="fa-solid fa-plus"></i></a>
                <a *ngIf="this.rows.length > 1" (click)="removeRow(i)" class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <a routerLink="../" style="margin-right: 10px;" type="button" class="btn btn-link btn-sm rounded-pill" data-bs-dismiss="modal" >Volver Atras</a>
          <button type="button" class="btn btn-primary btn-sm rounded-pill" (click)="saveFields()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <app-alert-dialog #dialog [inputs]="dialogInput" (close)="onCloseAlert($event)"></app-alert-dialog>

</div>