<ng-form #authForm> 
    <div class="row" >
    
            <div class="row border border-light position-relative">
                <div class="col-12">
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="row col-sm-4 border-end border-light">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Type</label>
                            <div class="col-sm-8">
                                <select class="form-select"></select>
                            </div>
                        </div> <!-- Middle left line (30% of the width) -->
                        <div class="row col-sm-7">
                            <div class="row col-sm-12">
                                <div class="col-sm-1"></div>
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Key</label>
                                <div class="col-sm-7">
                                    <input class="form-control">
                                </div>

                            </div>
                            <div class="row col-sm-12" style="margin-top: 20px;">
                                <div class="col-sm-1"></div>
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Value</label>
                                <div class="col-sm-7">
                                    <input class="form-control">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</ng-form>