<ng-template  #modalVisualizer let-modal>

    <div class="modal-header">
      <div class="modal-title">
          <h3>{{title}}</h3>
      </div>
      <div class="col-1 offset-3">
          <button (click)="onClose()" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    </div>
  
        <div class="modal-body">
            <div class="pdf-container">
                <img [src]="imageUrl" alt="PDF PREVIEW">
            </div>
        </div>
  
    <div class="modal-footer">
        <button (click)="onClose()" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
  </ng-template>