<div [formGroup]="formApi">
    <div  class="table-responsive">
        <table class="table" style="width: 95%;">
        <thead>
            <tr>
                <th class="col-5">Key</th>
                <th class="col-5">Value</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody formArrayName="paramsValue">
            <tr *ngFor="let row of ParamsValue.controls; let i = index" [formGroupName]="i">
                <td class="col-5">
                    <input placeholder="Key" formControlName="name" (change)="addItem(i)"  
                    class="form-control form-control-sm">
                </td>
                <td class="col-5">
                    <ng-select  (change)="addItem(i)" (change)="setValue($event,i)"
                    [selectOnTab]="true" [items]="fields" 
                    [addTag]="true" [multiple]="false" 
                        bindLabel="name" 
                        bindValue="id" >
                    </ng-select>
                </td>
                <!--<td>
                    <input formControlName="description" (change)="addItem(i)"  class="form-control form-control-sm">
                </td>!-->
                <td class="col-2" *ngIf="ParamsValue.controls.length > 1">
                    <a class="btn btn-sm btn-default" (click)="removeItem(i)">
                        <span class="material-icons">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

</div>