<div>

    <app-alert-dialog #dialog [inputs]="inputsDialog" ></app-alert-dialog>


    <app-title-page [title]="'DOCUMENTOS ADJUNTOS'" [route]="'create'"></app-title-page>

    <div class="row" >
        <div class="col-12" *ngFor="let attach of attachments">
            <div class="card">
                <br>
                <div class="pagetitle">
                    <div class="row">
                        <div class="col-5">
                            <span style="margin-left: 10px;">Nombre: <label>{{attach.name}}</label></span>
                        </div>
                        <div class="col-5">
                            <span>Formatos: <label> {{attach.acceptExtensions}}</label></span>
                        </div>
                    
                        <div class="col-2">
                            <div class="float-end">
                                <a ngbTooltip="Editar Formulario" class="btn btn-link">
                                    
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a (click)="changeStatusAttachment(attach)" ngbTooltip="Cambiar Status" [class]="'btn btn-sm ' + (attach.active ? 'btn-danger' : 'btn-success') " style="margin-right: 10px;">
                                 <!--   <mat-icon style="margin:0;padding: 0;" aria-hidden="false" aria-label="Example home icon" 
                                    [fontIcon]="attach.active ? 'delete': 'check_circle'"></mat-icon>
                                    -->
                                </a>
                            </div>
                        </div>
                        <div class="col-5">
                            <span>Status: <label> {{attach.active ? 'Activo' : 'Desactivado'}}</label></span>
                        </div>
                        
                        <div class="col-7">
                            <span>Tooltip: <label> {{attach.tooltip}}</label></span>
                        </div>
                       
                        <div class="col-12"><hr></div>

                        <div class="col-12">
                            <div class="table-responsive">
                                <div class="pagetitle" style="margin-left: 10px;">
                                    <h2>ETAPAS</h2>
                                </div>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Nombre</th>
                                      <th>Area</th>
                                      <th>SLA (horas)</th>
                                      <th>Status</th>
                                      <th>Creado Por</th>
                                      <th>Fecha</th>
                                      <th>Ultima Mod.</th>
                                      <th>Acciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let step of attach.attachmentSteps">
                                      <td>{{step.step?.name}}</td>
                                      <td>{{step.step?.area?.name}}</td>
                                      <td>{{step.step?.sla}}</td>
                                      <td>{{step.active ? 'Activo' : 'Desactivado'}}</td>
                                      <td>{{step.createdBy}}</td>
                                      <td>{{step.createdDate | date}}</td>
                                      <td>{{step.lastModifiedDate | date}}</td>

                                      <td>
                                        <button ngbTooltip="Cambiar Status" 
                                        (click)="changeStatusStepAttachment(step)" style="margin-right: 5px;" [class]="'btn btn-sm ' + (step.active ? 'btn-danger' : 'btn-success') " >
                                          <i [class]="step.active ? 'fa-regular fa-trash-can' : 'fa-solid fa-plus'"></i>
                                        </button>
                  
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                        </div>

                    </div>
                </div>

            </div>
            <br>
        </div>
   
    </div>





</div>