<ng-template  #jsonVisor let-modal>

    <div class="modal-header">
      <div class="modal-title">
        <h3>JSON</h3>
      </div>
      <div class="col-1 offset-3">
          <button (click)="onCloseVisor()" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    </div>
  
    <div class="modal-body">
        <json-editor [ariaReadOnly]="true"  [ariaDisabled]="true"  #jsonEditor [options]="editorOptions" [data]="data"></json-editor>

    </div>

    <div class="modal-footer">
        <button (click)="onCloseVisor()" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>
</ng-template>
