<!--<div *ngIf="propertyInfo">
  <div class="row" *ngIf="validateCanDisplay(propertyInfo)" style="margin-bottom: 10px;">

    <div class="col-3" >
      <input readonly class="form-control form-control-sm" [value]="propertyInfo.propName">
    </div>
    <div class="col-3">
      <input readonly class="form-control form-control-sm" >
    </div>
  </div>

  <div *ngIf="propertyInfo.children && propertyInfo.children.length > 0">
    <div *ngFor="let child of propertyInfo.children">
      <app-json-props [propertyInfo]="child"></app-json-props>
    </div>
  </div>
</div>!-->
<div>

  <div [ngClass]="{'node':validateCanDisplay(propertyInfo)}">
    <div [ngClass]="{'node-content':validateCanDisplay(propertyInfo)}">
      <div  *ngIf="validateCanDisplay(propertyInfo)">
          {{ propertyInfo.propName }}:
          <ng-select [(ngModel)]="propertyInfo.fieldMapped"
          [selectOnTab]="true" [items]="fields"
          [addTag]="false" [multiple]="false" 
              bindLabel="name" 
              bindValue="id" >
          </ng-select>
      </div>
      <span *ngIf="propertyInfo.type === 'object' && propertyInfo.children">
        <div *ngFor="let child of propertyInfo.children">
          <app-json-props [propertyInfo]="child"></app-json-props>

        </div>
      </span>
      <span *ngIf="propertyInfo.type === 'array' && propertyInfo.children">
        <div *ngFor="let item of propertyInfo.children">
          <app-json-props [propertyInfo]="item"></app-json-props>

        </div>
      </span>
      <!--
      <span *ngIf="validateCanDisplay(propertyInfo) && propertyInfo.type !== 'object' && propertyInfo.type !== 'array'">{{ propertyInfo.value }}</span>
      -->
    </div>
  </div>
  
</div>


