<div>

    <div class="card">

        <div class="row" style="margin-right: 0;padding-right: 0;">
        

            <div class="col-1" style="text-align: center;">
                <button (click)="prevItem()" [disabled]="firstIdx == 0" class="btn btn-default btn-sm" style="background-color: white; height: 100%;">
                    <span class="material-icons" style="text-align: center;">
                        arrow_back_ios
                    </span>
                </button>
            </div>

            <div class="col-10" style="margin:0;padding: 0;">
                    <ul>
                        <div class="row">
                            <div class="col-2" *ngFor="let itm of currentList;let idx=index" style="margin-right: 5px;">
                                <!--<span *ngIf="titleItems.length > 1" (click)="deleteItem(idx)" id="deletebtn" class="material-icons" style="font-size: 12px;">close</span>!-->
                                <li style="display: flex; align-items: center;justify-content: center;  margin-left: 6px; margin-right: 4px;height: 8vh;" (click)="onSelectItem(itm)" 
                                [class]="(itm.selected ? 'itemSelected' : '')" >
                                    {{itm.name}}
                                </li>
                            </div>
                        </div>
                    </ul>
            </div>

            <div class="col-1" (click)="nextItem()">
                <div class="float-end"  style="margin: 0; padding: 0; height: 100%;">
                    <button [disabled]="!nextAvail" class="btn btn-default btn-sm" style="background-color: white; height: 100%;">
                        <span class="material-icons">
                            arrow_forward_ios
                        </span>
                    </button>
                </div>
            </div>
        </div>
         
    </div>

</div>