.form-control{
    height: 37px;
}
.textarea-span {
    display: inline-block;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
}
[cdkDrag] {
    cursor: pointer;
  }